<div>
	<h3>You are now talking to <%= recipientSname %> (<span id="online-status"><%= (recipientOnline)? 'Online' : 'Offline' %></span>) 
	</h3>
	</hr>
	<div id="chat-box" class="chat-content col-md-offset-1 col-md-10 col-sm-12 col-xs-12" >
		<% for(var i=messages.length-1; i>=0; i--) { %>
		   <p class='chat-msg <%= (messages[i].unread)? "unread" : "" %>' ><strong><%= (messages[i].from == me)? "Me: " : recipientSname+": " %></strong> <%= messages[i].content %></p>
		<% } %>
	</div>
	<div class="col-md-12">
		<textarea id="message" placeholder="Write message, hit Enter to send." class="col-md-10" ></textarea>
		<button id="send" class="btn btn-large btn-success col-md-2" >SEND</button>
	</div>
</div>

<audio id="ting">
	    <source src="/sounds/ting.mp3" type="audio/mpeg">
	</audio>

<audio id="click">
    <source src="/sounds/click.mp3" type="audio/mpeg">
</audio>


<script type="text/javascript">
	function scoopAndSend(e){
    	e.preventDefault();
    	var messageBox = $("#message");
    	var content = messageBox.val();
    	messageBox.val("");
    	io.socket.get('/message/send/', {content: content}, function(data){ console.log(data); });

    	message.focus();
    }

    function checkAndSend(e){
		if(e.which == 13) {
			scoopAndSend(e);
		}
	}

	window.onload = function subscribeAndListen(){

		$("#send").click(scoopAndSend);

		$("#message").keypress(checkAndSend);

		$('#chat-box').animate({scrollTop: $('#chat-box').prop("scrollHeight")}, "fast");

		var recipient = "<%= recipientSname %>";

	    io.socket.get('/user/subToUser/');

	    io.socket.on('user' ,function(obj){
		    	console.log(obj);
		    	if(obj.id === "<%= recipient %>"){
			    	if(obj.data.online){
			    		$("#online-status").html("Online");
			    		$("#ting")[0].play();

			    	}
			    	else{
			    		$("#online-status").html("Offline");
			    	}
			    }
		    });

	    io.socket.on('message' ,function(obj){

	    	var toWrite = "<p class='chat-msg'><strong>";

	    	if(obj.from != "<%= recipient %>"){
	    		toWrite += "Me: ";
	    	}
	    	else{
	    		toWrite += recipient + ": ";
			$("#click")[0].play();
	    	}

	    	toWrite += "</strong>" + obj.message + "</p>" ;

	    	$("#chat-box").append(toWrite);

	    	$('#chat-box').animate({scrollTop: $('#chat-box').prop("scrollHeight")}, "fast");

	    });
	};

</script>
